<h1>Editer l'événement</h1>

<% if @event.creator == current_user %>

  <%= render 'form', event: @event %>

  <%= link_to 'Afficher l\'événement', @event %> |
  <%= link_to 'Retour', events_path %>

<% else %>

<p class="alert alert-danger">Etes-vous le créateur de cet événement ? Si oui, veuillez vous connecter.</p>

<% end %>
