<h1>Nouvel Evénement</h1>

<% if user_signed_in? %>

  <%= render 'form', event: @event %>

  <div class="text-center">
  <%= link_to 'Retour', events_path %>
  </div>

<% else %>

  <p class="alert alert-danger">Veuillez vous connecter ou créer un compte !</p>

<% end %>
