h1 {
  text-align: center;
}

#logo {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
}

.nav-link, .dropdown-toggle{
  font-size: 1.1em;
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.table th, .table td {
  text-align: center;
}
